{% extends 'base.html' %}
{% block title %}Список курсов{% endblock %}
{% block content %}
      <div class="row">
          {% for course in courses %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-end">
                        <a href="{% url 'courses:course' course.id %}" class="card-link text-end">Перейти к курсу</a>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
      </div>
{% endblock %}